.account-wrapper{
  height: 100vh;
  width:100vw;
  display: flex;
}

.update-page{
  height: 90vh;
  width:30vw;
  background:#968eea;
  border-radius: 24px;
  position: relative;
  margin-left: 5%;
  margin-top: 20px;
}

.update-page-form{
  height: 100%;
    width: 100%;
    padding-top: 10%;
    display: flex;
    position: relative;
    flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.update-page-form > input{
  width: 60%;
}
.update-text{
  font-family: CHILLAX;
  display: flex;
  justify-content: center;
  align-items: center;
  position:absolute;
  height: 3%;
  width: 40%;
  top: 0;
  left: 28%;
  background: #fff;
  color: #968eea;
  border-radius: 0 0 20px 20px;
}
.update-bttn{
  background-color:#251e68 ;
  color: #fff;
  height: 40px;
  border:3px;
  padding: 5px 30px;
  margin-bottom: 10px;
  border-radius: 40px;
  font-family: chillax;
  font-size: larger;
    cursor: pointer;
}

.slot-details-wrapper{
  height: 90vh;
  width: 50vw;
  background: #000;
  background:#968eea;
  border-radius: 24px;
  
  margin-left: 10%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.slot-detail-text{
  font-family: CHILLAX;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 40%;
  top: 0;
  left: 28%;
  background: #fff;
  color: #968eea;
  border-radius: 0 0 20px 20px;
}
.slot-details-display{
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}
.slot-details-user-detail,.slot-details-camp-detail{
  position: relative;
  width: 50%;
}
.slot-details-center_address,  .slot-details-uhid,.slot-details-userName,.slot-details-phNumber,.slot-details-dob,.slot-details-vaccination_status,.slot-details-address,.slot-details-aadhar_number,.slot-details-centre_name,.slot-details-state,.slot-details-district,.slot-details-centre_type,.slot-details-vaccine_type,.slot-details-time_of_slot{
  
  height: 60px;
  background: #74c3ed;
  margin: 30px;
  border-radius: 8px;
background: #B7C6FD;
color: #140E57;
display: flex;
justify-content: center;
align-items: center;
font-family: chillax;
overflow: scroll;
}

.login-first{
  height: 60px;
  background: #74c3ed;
  margin: 30px;
  border-radius: 8px;
background: #B7C6FD;
color: #140E57;
display: flex;
justify-content: center;align-items: center;
font-family: chillax;
font-size: larger;
}

@media (max-width:500px){
  .account-wrapper{
    height: 200vh;
    display: flex;
    flex-direction: column;
  }
  
  .update-page{
    height: 50%;
    width:100%;
    background:#968eea;
    border-radius: 24px;
    position: relative;
    margin-left:0;
    margin-top: 20px;
  }
  
  .update-page-form{
      width: 100%;
      padding-top: 10%;
      display: flex;
      position: relative;
      flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .update-page-form > input{
    width: 65%;
  }
  .update-text{
    font-family: CHILLAX;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    height: 3%;
    width: 40%;
    top: 0;
    left: 28%;
    background: #fff;
    color: #968eea;
    border-radius: 0 0 20px 20px;
  }
  .update-bttn{
    background-color:#251e68 ;
    color: #fff;
    height: 40px;
    border:3px;
    padding: 5px 30px;
    margin-bottom: 10px;
    border-radius: 40px;
    font-family: chillax;
    font-size: larger;
      cursor: pointer;
  }
  
  .slot-details-wrapper{
   
    height: 100vh;
    width: 100%;
    background: #000;
    background:#968eea;
    border-radius: 24px;
    
    margin-left: 0;
    margin-top: 20px;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
  }
  .slot-detail-text{
    font-family: CHILLAX;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
    width: 70%;
    top: 0;
  left: 17%;
    background: #fff;
    color: #968eea;
    border-radius: 0 0 20px 20px;
  }
  .slot-details-display{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
  }
  .slot-details-user-detail,.slot-details-camp-detail{
    position: relative;
    width: 50%;
  }
  .slot-details-center_address,  .slot-details-uhid,.slot-details-userName,.slot-details-phNumber,.slot-details-dob,.slot-details-vaccination_status,.slot-details-address,.slot-details-aadhar_number,.slot-details-centre_name,.slot-details-state,.slot-details-district,.slot-details-centre_type,.slot-details-vaccine_type,.slot-details-time_of_slot{
    
    height: 60px;
    background: #74c3ed;
    margin: 30px;
    border-radius: 8px;
  background: #B7C6FD;
  color: #140E57;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: chillax;
  overflow: scroll;
  }
  
  .login-first{
    height: 60px;
    background: #74c3ed;
    margin: 30px;
    border-radius: 8px;
  background: #B7C6FD;
  color: #140E57;
  display: flex;
  justify-content: center;align-items: center;
  font-family: chillax;
  font-size: larger;
  }
  

}